%%-*- mode: erlang -*-

{deps, [{webmachine, "1.10.*", {git, "git://github.com/basho/webmachine", 
            "HEAD"}},
        {oauth2, ".*", {git, "git://github.com/IvanMartinez/oauth2.git", 
            {tag, "4911453fbe527917c13cc1e901f751b0d90d9467"}}},
        {meck, ".*", {git, "https://github.com/eproxus/meck.git", 
            {tag, "0.7.2"}}}]}.
